body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* input checkbox para desaparcer da pagina */
#check {
    display: none;
}

/* Propriedade que faz a mudança da cor do texto*/
#check:checked ~ .h1 {
    color: blue;
}